# Ignore the important stuff
app/code/config/*
app/code/.env

# Ignore the users's stuff
app/code/data/users
# Ignore old version, FOR NOW
app/code/data/vues
app/code/data/categories
app/code/data/dates_voyages.json

# Ignore the __pycache__ files created by python
**__pycache__**
*.pyc

# Ignoring files created by setuptools and other tools used
# to create packages.
app/code/build
app/code/dist
**recount.egg-info**
app/code/MANIFEST
app/code/pyproject.toml

# Ignoring files created by pipenv.
# Those should only be created using pipenv install -e .
app/Pipfile
app/Pipfile.lock
app/recount.egg-info
app/pyvenv.cfg

# Ignoring files created by venv.
# Those should only be created using :
#       python -venv .
#       source bin/activate
#       pip install -e .
app/bin
app/etc
app/share
app/lib
app/lib64
app/include
app/.pytest_cache

# Other ignores
app/code/logs/*.log