# Ignore important stuff
recount/src/.env
**.pem

# Ignore the database other files
database/init_**

# Ignore the users's stuff
recount/data/users/*

# Ignore the __pycache__ files created by python
**__pycache__**
*.pyc

# Ignoring files created by setuptools and other tools used
# to create packages.
recount/src/dist
recount/src/MANIFEST
recount/src/pyproject.toml

# Ignoring files created by pipenv.
# Those should only be created using pipenv install -e .
**Pipfile
**Pipfile.lock
**pyvenv.cfg
**build
**recount.egg-info**
**recount_tools.egg-info**

# Ignoring virtualenv manually created
*virtual*

# Ignoring pytest cache
**.pytest_cache

# Ignoring files created by venv.
# Those should only be created using :
#       python -venv .
#       source bin/activate
#       pip install -e .
recount/bin
recount/etc
recount/share
recount/lib
recount/lib64
recount/include
recount/.pytest_cache

# Other ignores
**.log
recount/test.py
recount/commands.py
