# Ignore the important stuff
app/src/config/*
app/src/.env
**.pem

# Ignore the database other files
database/init_**

# Ignore the users's stuff
app/src/data/users
# Ignore old version, FOR NOW
app/src/data/vues
app/src/data/categories
app/src/data/dates_voyages.json

# Ignore the __pycache__ files created by python
**__pycache__**
*.pyc

# Ignoring files created by setuptools and other tools used
# to create packages.
app/src/build
app/src/dist
**recount.egg-info**
app/src/MANIFEST
app/src/pyproject.toml

# Ignoring files created by pipenv.
# Those should only be created using pipenv install -e .
app/Pipfile
app/Pipfile.lock
app/recount.egg-info
app/pyvenv.cfg

# Ignoring virtualenv manually created
*virtual*

# Ignoring files created by venv.
# Those should only be created using :
#       python -venv .
#       source bin/activate
#       pip install -e .
app/bin
app/etc
app/share
app/lib
app/lib64
app/include
app/.pytest_cache

# Other ignores
app/src/logs/*.log
app/src/test.py
