[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
stop-words = "*"
xlrd = "==1.2.0"
Unidecode = "*"
PyMySQL = "*"
dash-auth = "*"
openpyxl = "*"
pipenv-setup = "*"

[dev-packages]

[requires]
python_version = "3.8"
