# dash
# dash_auth
# pandas
# unidecode
# stop_words
# xlrd==1.2.0
# pymysql
# openpyxl
# gunicorn


black
dash
dash_auth
pandas
unidecode
stop_words
xlrd
pymysql
openpyxl
python-decouple
pytest
invoke
cryptography
cryptocode
gunicorn
flask
gunicorn